ul.nostyle{list-style:none;margin:0;}
ul.big_icons{list-style:none;margin:15px;font-family:serif;font-size:16px;color:#415A41;}
ul.big_icons li{margin-top:15px;margin-bottom:15px;}
ul.big_icons li img{margin-right:15px;}
p.big_font{font-family:serif;font-size:16px;color:#415A41;}
span.download-content{display:block;min-height:64px;min-width:160px;padding-left:80px;padding-right:8px;text-align:center;font-family:serif;background:url(/static/images/download.png) 0 0 no-repeat;}
span.download-title{display:block;padding-top:4px;font-size:22px;color:white;}
span.download-version{display:block;padding-top:2px;font-size:18px;color:#B5E786;}
span.download-name{display:block;padding-top:2px;font-size:12px;color:#346012;}
div p{text-align:justify;}
img.center{display:block;margin-left:auto;margin-right:auto;}
p.join{text-align:center;font-family:serif;font-size:20px;color:#346012;}
h1{text-align:center;margin-top:0px;}
h1.main i{font-weight:normal;font-style:normal;color:#9e9e97;}
h1.main b{font-weight:normal;color:#3a3a3a;}
