ul.nostyle{list-style:none;margin:0;}
img.os_icon{margin-right:5px;}
span.download-content{display:block;min-height:64px;padding-left:80px;padding-right:8px;text-align:center;font-family:serif;background:url(/static/images/download.png) 0 0 no-repeat;}
span.download-title{display:block;padding-top:6px;font-size:22px;color:white;}
span.download-version{display:block;padding-top:4px;font-size:16px;color:#B5E786;}
div p{text-align:justify;}
